body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

h1 {
    font-family: "Matangi", sans-serif;
    font-size: 45px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.descricao {
    font-family: "Matangi", sans-serif;
    font-size: 28px;
    color: white;
    font-weight: bold;
    text-align: center;
}