body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

h1 {
   font-family: "Matangi", sans-serif;
   font-weight: bold;
   color: white;
   font-size: 40px;
   text-align: center;
}

h2 {
   font-family: "Matangi", sans-serif;
   color: white;
   font-weight: bold;
   font-size: 30px;
   text-align: center;

}

.vs {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
}

.ln {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
}

.mmj {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
}

.vbs {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
}

.wxs {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
}

.n25 {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
}

section {
    align-items: center;
    color: white;
}