body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

h1 {
    color: white;
    font-family: "Matangi", sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: bolder;

}

.virtualsingers {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 5px;
    
}