body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

.vs-personagens {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    font-family: "Matangi", sans-serif;
    color: white;
}