body {
    background-image: url(fundo.jpg);
    background-size: cover;
}

header {
    align-items: center;
}

h1 {
    align-items: center;
}

h2 {
    align-items: center;
}

footer {
    align-items: end;
}