body {
    background-image: url(fundo.jpg);
    background-size: cover;

}

header {
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: "Matangi", sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: bold;

}

h2 {
     color: white;
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

section {
    justify-content: center;
}

.jdishjdsi {
    display: flex;
    font-family: "Matangi", sans-serif;
    color: white;
    font-size: 36px;
    gap: 10px;
}

footer {
    align-items: end;
    color: white;
    font-family: "Matangi", sans-serif;
    font-size: small;
}